$primary: #5C7C63;
$secondary: #5A5059;
$light: #EDEDED;
$light-brown: #E5E1E0;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "light-brown": $light-brown
);

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Parisienne&display=swap');
$font-family-karla: 'Karla', sans-serif;
$font-family-parisienne: 'Parisienne', cursive;
$font-family-base: $font-family-karla;

@import '~bootstrap/scss/bootstrap.scss';